@tailwind base;
@tailwind components;
@tailwind utilities;

.formInputFile::-webkit-file-upload-button {
    background-color: #D59B6C;
    border: none;
    color: #ffffff;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}